terraform {
  backend "s3" {
    bucket       = "replace-with-terraform-state-bucket"
    key          = "mbn-knews/terraform.tfstate"
    region       = "ap-northeast-2"
    encrypt      = true
    use_lockfile = true
  }
}
